<h1>All Products</h1>

<% @products.each do | p | %>
    <p>
      <%= link_to p.name, "/products/#{ p.id }" %>
    </p>
    <p>
        <%= p.description %>
    </p>
    <p>
        <%= p.formatted_price %>
    </p>
<% end %>

<%= link_to "New", new_product_path %>
